<template name="NPCharacterResponse">
 
  {{#each scenarios}}
    <li>
      <p>{{title}} : {{scenarioDescription}}</p>
      <p>{{scenarioIds}}</p>
      <p>{{requestIds}}</p>
      
    </li>
  {{/each }}

</template>