<template name="PlayerRequest">
 
  {{#each scenarios}}
    <li>
      <p>{{title}} : {{scenarioDescription}}</p>
      <p>{{hitPoints}}</p>
      <p>{{maxHitPoints}}</p>
      <p>{{playerClass}}</p>
      
    </li>
  {{/each }}

</template>