<template name="NPCharacterRequest">
  
  {{#each scenarios}}
    <li>
      <p>{{title}} : {{scenarioDescription}}</p>
      <p>{{npCharacterResponseIds}} : {{scenarioDescription}}</p>

    </li>
  {{/each }}

</template>