<template name="NPCharacter">

  {{#each scenarios}}
    <li>
      <p>{{title}} : {{scenarioDescription}}</p>
      <p>{{npCharacterRequestIds}} : {{scenarioDescription}}</p>
      <p>{{healthPoints}}</p>
      <p>{{characterClass}}</p>
      
    </li>
  {{/each }}

</template>